*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifs;
}
body{
    background: whitesmoke;
}
i{
    font-size: 20px;
    color: #121212;
}
p{
    font: 20px;
}
.allartist{
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
}
.art{
    transition: .3s;
    margin: auto;
    text-align: center;
    font-size: 0px;
}
.art img{
    width: 100%;
    height: auto;
}
.art p{
    color: #2b6777;
}
.art:hover{
    font-size: 18px;
}
.art1{
    transition: .3s;
    text-align: center;
    font-size: 0px;
}
.art1 img{
    width: 100%;
    height: auto;
}
.art1 p{
    color: #ffffff;
    width: 100%;
}
.art1:hover{
    font-size: 18px;
}
.artpre{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.artpre a{
    text-decoration: none;
    color: #121212;
}
.artpre p{
    color: #121212;
}
.buttons{
    margin: auto 3% auto auto;
}
.buttons a{
    color: #121212;
    font-size: 18px;
    padding: 3px;
    border-radius: 5px;
    text-decoration: none;
}
.content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.cs{
    text-align: center;
    width: 100%;
}
.icons{
    margin: auto 3% auto auto;
}
.icons a{
    text-decoration: none;
    color: whitesmoke;
}
.intro{
    width: 65%;
    height: 94vh;
    text-align: left;
}
.intro div{
    width: 70%;
    margin: 35vh auto auto auto;
}
.intro div>h1{
    color: #ffffff;
}
.intro div>p{
    color: #ffffff;
}
.logo{
    margin: auto auto auto 3%;
    color: #121212;
}
.navbar{
    width: 100%;
    height: auto;
    padding: 10px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.one{
    background: #2b6777;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.preview{
    padding: 10px;
}
.russel{
    width: 60vh;
    height: 60vh;
    margin: auto;
    background: #52ab98;
    border-radius: 2px;
    border: 2px #121212 solid;
    display: flex;
    align-items: center;
}
.ako{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}
.ako img{
    width: 100%;
    height: auto;
}
.akon{
    width: 100%;
    height: auto;
    text-align: center;
}
.side{
    background: #c8d8e4;
    overflow: auto;
}
.three{
    width: 80%;
    padding: 10%;
    background: #121212;
}
.three p{
    width: 60%;
    margin: auto;
    color: #ffffff;
    text-align: center;
}
.three div{
    width: 10%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.three div>a{
    width: 40%;
    height: auto;
    margin: auto;
    align-self: center;
}
.three div>a>img{
    width: 100%;
}
.top{
    text-align: left;
    padding: 2%;
    width: 96%;
}
.top p{
    color: #ffffff;
}
.two{
    width: 90%;
    height: auto;
    margin: auto;
    padding: 5%;
    text-align: center;
    background: whitesmoke;
}
.two p{
    color: #52ab98;
    width: 65%;
    margin: auto;
}
.ako{
    width: 100%;
    height: 80%;
    margin-top: 20%;
    background: #ffffff;
}

@media only screen and (min-width: 360px) {
    .art{
        width: 20vh;
        height: auto;
        margin: 2.5%;
    }
    .art:hover{
        width: 24vh;
        height: auto;
        margin: 0%;
    }
    .art1{
        width: 250px;
        height: auto;
        margin: 2.5%;
    }
    .art1:hover{
        width: 260px;
        height: auto;
        margin: 0%;
    }
    .artpre p{
        font-size: 16px;
    }
    .buttons{
        display: none;
    }
    h2{
        font-size: 18px;
    }
    .icons{
        display: block;
        width: 30%;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .buttons a{
        font-size: 14px;
        background: none;
    }
    .intro{
        width: 100%;
    }
    .side{
        width: 100%;
        height: auto;
    }
}
@media only screen and (min-width: 480px){
    .artpre p{
        font-size: 18px;
    }
}
@media only screen and (min-width: 720px){
    h2{
        font-size: 20px;
    }
    .art{
        width: 40vh;
        height: auto;
    }
    .art:hover{
        width: 44vh;
        height: auto;
    }
    .art1{
        width: 29.33333333333333%;
        height: auto;
        margin: 2%;
    }
    .art1:hover{
        width: 31.33333333333333%;
        height: auto;
        margin: 0%;
    }
    .artpre p{
        font-size: 20px;
    }
    .buttons{
        display: block;
    }
    .buttons a{
        color: #121212;
        font-size: 18px;
        padding: 3px;
        text-decoration: none;
    }
    .icons{
        display: none;
    }
    .intro{
        width: 67%;
    }
    .side{
        width: 33%;
        height: 94vh;
    }
}
